.TradeMenu {
  position: absolute;
  display: inline;
  z-index: 99;
  left: -100px;
  width: 200px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: .25rem;
  font-size: 9pt;
  font-family: sans-serif;
  font-weight: bold;
  box-sizing: border-box;
  background: #ffffff;
}

.TradeMenuItem {
  cursor: pointer;
}

.TradeMenuItem:last-child {
  /* padding-bottom: 5px; */
}

.TradeMenuItem:hover {
  background-color: #eee;
}
