.Layout {
}

.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 35px;
  padding-top: 10px;
  font-size: 9pt;
  text-align: center;
  background-color: gold;
  box-sizing: border-box;
}
