.Player {
  height: 70px;
  min-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
  box-sizing: border-box;
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #c9c9c9 53%, #9ca6a8 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%,#c9c9c9 53%,#9ca6a8 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%,#c9c9c9 53%,#9ca6a8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#9ca6a8',GradientType=0 ); /* IE6-9 */
}

.PlayerInfo {
  font-size: 9pt;
  font-family: sans-serif;
  font-weight: bold;
  position: relative;
  width: 110px;
}

.SalaryInfo {
  font-weight: normal;
  font-size: 8pt;
  position: relative;
  text-align: right;
  width: 85px;
}
