.Player {
  height: 60px;
  min-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10px;
  border-right: 2px #aaa solid;
  align-items: center;
  box-sizing: border-box;
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #c9c9c9 53%, #9ca6a8 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%,#c9c9c9 53%,#9ca6a8 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%,#c9c9c9 53%,#9ca6a8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#9ca6a8',GradientType=0 ); /* IE6-9 */
}

.Option {
  border-right: 2px red solid;
  box-sizing: border-box;
}

.NewAqcuisition {
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #fff 0%, #e8d39b 53%, #eab92d 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fff 0%,#e8d39b 53%,#eab92d 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fff 0%,#e8d39b 53%,#eab92d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#9ca6a8',GradientType=0 ); /* IE6-9 */
}


.PlayerInfo {
  font-size: 9pt;
  font-family: sans-serif;
  font-weight: bold;
  width: 140px;
}

.CurrentTarget {
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
  background-color: #333;
  z-index: 1;
  opacity: 0.9;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  font-size: 9pt;
  cursor: pointer;
}

.SalaryInfo {
  font-weight: normal;
  font-size: 8pt;
  text-align: right;
  width: 85px;
}

.Player:hover {
  cursor: pointer;
}

.MenuContainer {
  position: relative;
}
