.DraftPickTeamLogo {
  margin: -3px 0 0 5px;
  cursor: pointer;
}

.MenuContainer {
  position: relative;
}

.FirstRoundPick {
  border-top: 3px solid gold;

}

.SecondRoundPick {
  border-top: 3px solid silver;
}

.DraftPickTeamLogo img {
  width: 25px;
  height: auto;
}

.Ineligible {
  opacity: 0.2
}
